<!DOCTYPE html>
<html>

<head>
    <title>Movie listing</title>
</head>

<body>
    {% include "navbar" %}
    <p>Movie listing</p>
    <form action="/movies" method="post">
        <label for="">Title:</label>
        <input type="text" name="title" placeholder="title" />
        <br>
        <label for="">Director:</label>
        <input type="text" name="director" placeholder="director" />
        <br>
        <label for="">Rating:</label>
        <input type="number" name="rating" placeholder="rating" />
        <br>
        <label for="">Release in:</label>
        <input type="text" name="year_of_release" placeholder="year of release" />
        <br>
        <div class="button">
            <button type="submit">Add Movie</button>
        </div>
    </form>
</body>

</html>
